@using eVillaBooking.Domain.Entities;
@model IEnumerable<Villa>

<div class="row">
	<div class="w-100 card">
		<div class="card-header bg-success bg-gradient text-center border m-3">
			<div>Villa List</div>
		</div>
		<div class="card-body">
			<div class="text-end m-2">
				<a asp-controller="Villa" asp-action="Create" class="btn btn-danger">
					<i class="bi bi-plus-circle-fill"></i> Add New Villa
				</a>
			</div>
			 <table class="table table-hover  table-striped table-bordered">
				 <thead>
					 <tr>
						 <th>Name</th>
						 <th>Description</th>
						 <th>Price</th>
						 <th>SQFT</th>
						 <th>Occupancy</th>	
						 <th>Actions</th>
					 </tr>
				 </thead>
				 <tbody>
					 @foreach(var villa in Model){
						 <tr>
							 <td>@villa.Name</td>
							 <td>@villa.Description</td>
							 <td>@villa.Price</td>
							 <td>@villa.Sqft</td>
							 <td>@villa.Occupancy</td>
							 <td>
								 <a class="btn btn-primary" asp-controller="Villa" asp-action="Edit" asp-route-id="@villa.Id">Edit</a>
								 <a class="btn btn-danger" asp-controller="Villa" asp-action="Delete" asp-route-id="@villa.Id">Delete</a>
							 </td>
 						 </tr>
					 }
					
				 </tbody>
			 </table>
		</div>
	</div>

</div>